-r requirements/base.txt
-r requirements/django.txt
-r requirements/celery-worker.txt
-r requirements/celery-beat.txt
-r requirements/celery-flower.txt

pytest~=9.1.0
pytest-django~=4.12.0
pytest-asyncio~=1.4.0
mypy~=1.19.0
django-stubs[compatible-mypy]~=5.2.0
djangorestframework-stubs[compatible-mypy]~=3.16.0
types-channels~=4.3.0
celery-types~=0.26.0
ruff~=0.16.0
